<div class="mdl-cell mdl-cell--3-col" on-click("nav")>
  <div class="cscard xcc mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">${input.title}</h2>
    </div>
    <div class="">
      <img class="mhimg" src=input.img/>
    </div>
  </div>
</div>
