<div class="hmcard mdl-grid">
  <!-- <div class="hmcard mdl-grid"> -->
  <for|item| of=state.list>
    <div class="mdl-cell mdl-cell--3-col">
      <card ...item/>
    </div>
  </for>
  <!-- </div> -->
</div>
